div(class='row')
  table(class='table table-striped')
    .page-header
      h3.subtitle 장비 리스트
      button(type='button' class='btn btn-primary' data-toggle='modal' data-target='#myModal' onclick='setmodalmachineAdd()') 추가
    thead
      tr
        th ID
        th POSITION
        th RECIPE_CNT
        th STATUS
        th OP
        th OP
    each val in machines
      tr
        td= val.name
        td= val.position
        td= val.recipe.cnt
        td
          case val.status
            when "RUN"
              span.label.label-success= val.status
            default
              span.label.label-danger= val.status
        td
            button(type='button' class='btn btn-info' ) 수정
        td
            button(type='button' class='btn btn-danger' ) 삭제
div(id='readFile')
